<style type="text/css">
.box { float:left; border:1px dotted #999; padding:10px; margin:10px; width:500px; }
table tr th { text-align:left; }
.clear { clear:both; }
.boxmenu { float:right; font-size:10px; }
table tr td { padding-right:10px; }
#rsummary table { border-collapse:collapse; padding:0; margin:0; width:490px; }
#rsummary table tr.top th { text-align:right; }
#rsummary table th.first { padding-right:10px; text-align:right; }
#rsummary td, #rsummary th { padding:2px; margin:0; }
#rsummary td { border-top:1px solid #ccc; text-align:right; }
#rsummary .total td { border-top: 3px double #ccc; }
#projections { text-align:right; font-size:11px; color:#888; }
</style>

<div class="box">
	<h2 class="fl">Summary</h2>
	<div class="boxmenu">
		<%= link_to "Units", :url => { :action => "revenue_summary_quantity" }, :remote => true, :update => "rsummary" %> /
		<%= link_to "Amount", :url => { :action => "revenue_summary_amount" }, :remote => true, :update => "rsummary" %> /
		<%= link_to "Percentage", :url => { :action => "revenue_summary_percentage" }, :remote => true, :update => "rsummary" %>
	</div>
	<div class="clear"></div>
	<div id="rsummary">
		<%= render :partial =>  "revenue_summary" %>
	</div>
</div>

<div class="box">
    <h2 class="fl">History</h2>
	<div class="boxmenu">
		<%= link_to "30 Days", :url => { :action => "revenue_history_days" }, :remote => true, :update => "rhistory" %> /
		<%= link_to "26 Weeks", :url => { :action => "revenue_history_weeks" }, :remote => true, :update => "rhistory" %> /
		<%= link_to "12 Months ", :url => { :action => "revenue_history_months" }, :remote => true, :update => "rhistory" %>
	</div>
	<div class="clear"></div>
	<div id="rhistory">
		<%= render :partial =>  "revenue_history" %>
    </div>
</div>
