<% @qty = {} %>
<%= form_tag :action => "mass_order" do -%>

<%= render :partial => "product_quantities" -%>

<p>Payment Type:<%= text_field 'form', 'payment_type', :value => 'Paypal' %></p>

<p>Format is: "fname, lname, email"</p>

<p><%= text_area 'form', 'people' %></p>

<p><%= submit_tag 'Process Orders' %></p>

<% end -%>
