<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title><%=$STORE_PREFS['store_name']%></title>
    <link rel="icon" href="/favicon.png" type="image/png"/>
	<%= stylesheet_link_tag "store", "mytheme", :media => "all", :cache => "storeSheets" %>
	<%= javascript_include_tag "store" %>
<!--[if lt IE 7]>
<script language="JavaScript">window.attachEvent("onload", correctPNG);</script>
<![endif]-->
</head>
<body>
	<div id="page" class="narrow">
		<div id="page_top">
			<% if not $STORE_PREFS['company_logo_path'].blank? -%>
			<div id="logo"><a href="<%=$STORE_PREFS['company_url']%>">
				<img src="<%=$STORE_PREFS['company_logo_path']%>" alt="<%=$STORE_PREFS['company_name']%>"/></a>
			</div>
			<% end -%>

			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>

			<center>
				<%= yield %>
			</center>
		</div>
	</div>
	<% if is_live?() && ! $STORE_PREFS['google_analytics_account'].blank? -%>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%=$STORE_PREFS['google_analytics_account']%>']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
	<% end -%>
</body>
</html>
