<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title><%=$STORE_PREFS['store_name']%></title>
    <link rel="icon" href="/favicon.png" type="image/png"/>
	<%= stylesheet_link_tag "store", "mytheme", :media => "all", :cache => "storeSheets" %>
<!--[if lt IE 7]>
<script language="JavaScript">window.attachEvent("onload", correctPNG);</script>
<![endif]-->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
	<%= javascript_include_tag "store" %>
	<%= javascript_include_tag "jquery.validate" %>
</head>
<body>
<div id="page" class="narrow">
	<div id="page_top">
		<% if not $STORE_PREFS['company_logo_path'].blank? -%>
		<div id="logo"><a href="<%=$STORE_PREFS['company_url']%>"><img src="<%=$STORE_PREFS['company_logo_path']%>" alt="<%=$STORE_PREFS['company_name']%>"/></a>
		</div>
		<% end -%>
		<h1><%=$STORE_PREFS['store_name']%></h1>
		<div class="tm"></div>
		<%= image_tag "store/rounded_tr.png", :alt => "rounded border", :class => "tr" %>
	</div>
	<div id="page_content" class="narrow">
		<div class="ccolumn narrow solo">
			<%= yield %>
		</div>
		<div class="clear">&nbsp;</div>
	</div>
	<div id="footer">
		<div id="copyright"><p><%=$STORE_PREFS['copyright_html']%> Powered by <a href="http://www.potionfactory.com/potionstore">Potion Store</a></p></div>
	</div>
</div>
<% if is_live?() && ! $STORE_PREFS['google_analytics_account'].blank? -%>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<%=$STORE_PREFS['google_analytics_account']%>']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<% end -%>
<% if is_live?() && $STORE_PREFS['include_mint'] == true -%>
<script type="text/javascript" src="/mint/?js"></script>
<% end -%>
</body>
</html>
